
<div class="row">
	<div class="notes">
		<div class="col s3">	
			<i class="large material-icons green-text text-lighten-2">chat_bubble_outline</i>
			<p></p>
			<a class="waves-effect waves-light btn"<%= link_to("Notes", entries_path) %>
		</div>
	</div>	
	<div class="today">
		<div class="col s3">	
			<i class="large material-icons green-text text-lighten-2" >today</i>
			<p></p>
			<a class="waves-effect waves-light btn"<%= link_to("Events", events_path) %>
		</div>

	</div>	
	<div class="lists">
		<div class="col s3">
			<i class="large material-icons green-text text-lighten-2">list</i>
			<p></p>
			<a class="waves-effect waves-light btn"<%= link_to("Lists", new_list_path) %>
		</div>
	</div>
	<div class="email">	
		<div class="col s3">	
			<i class="large material-icons green-text text-lighten-2">email</i>
			<p></p>
			<a class="waves-effect waves-light btn">Email</a>
		</div>
	</div>


</div>


    