@import "materialize";
@import "welcome";

.navbar-text{
	text-align: right;
}
.welcomeIndex {
	text-align: center;
}
.book {
	height: 5%;
	width: 5%;
}
.row{
	text-align: center;
	margin-top: 20%;
}
.col s1{
}
#modal-events{
	text-align: center;
}